<div id="{{ post.id }}" class="media text-muted pt-3">
    <img src="http://pinegrow.com/placeholders/img18.jpg" alt="" class="mr-2 rounded" width="32" height="32"/>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"> <strong class="d-block text-gray-dark search-element">{{ post.name }}</strong> {{ post.description }} </p>
    <p class="d-block text-gray-dark search-element">UPDATED: {{ post.updated | date :'short' }}</p>
    <a class="btn btn-dark float-right" href="#" [routerLink]="['/post', post.fandomId, post.id, post.type, post.catagory, 0]">VIEW</a>
</div>